.products {

    &__grid {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -10px;

        @media only screen and (max-width: 767px) {
            margin: 0;
        }
    }

    &__grid &__item {
        background: #fff;
        padding: 20px;
        border-radius: 20px;
        margin: 0 9px 18px;
        width: calc(50% - 18px);
        cursor: pointer;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
        transform: scale(1);
        transition: .5s;

        @media only screen and (max-width: 767px) {
            margin: 0 0 18px;
            width: 100%;
        }
    }

    &__grid &__item &__title {
        font-size: 19px;
    }

    body.dark &__grid &__item {
        background: #242731;
    }

    @media only screen and (min-width: 1300px) {

        &__grid &__item:hover{
            transform: scale(1.05);
        }

    }

}

.products > .products__title {
    margin-bottom: 16px;
  }

  .products > .products__info {
    margin-bottom: 20px;
    color: #808191;
  }

  .products__table {
    display: table;
    width: 100%;
    border-collapse: collapse;
  }

  .products__flex-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .products__flex {
    display: flex;
    flex-direction: column;
  }

  .row-table {
    padding: 30px 50px 10px;
    border-radius: 24px;
  }

  .row-table:not(.no-border) {
    // margin-top: 20px;
    background: #ffffff;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  }

  body.dark .row-table:not(.no-border) {
    background: rgba(0, 0, 0, 0.16);
    border-radius: 8px;
  }

  .row-table > * {
    margin-bottom: 20px;
  }

  .row-table.full > * {
    width: 100%;
    margin-bottom: 0;
  }

  .row-table.full > *:not(:last-child) {
    margin-bottom: 10px;
  }

  .products__flex .products__row.products__head .products__cell {
    margin: -40px -32px 0;
    width: calc(100% + 64px);
    display: flex;
    justify-content: center;
    background-color: #6C5DD3;
    border-radius: 25px 25px 0 0;
    font-size: 1.5em;
    padding: 25px 0;
    color: #fff;
  }

  .products__flex .products__cell {
      width: 100%;
    //   white-space: nowrap;
  }

  .no-wrap .products__cell {
    white-space: nowrap;
  }

  .products__row {
    display: table-row;
  }

  .products__table.first .products__row,
  .products__table.with_title .products__row {
    display: flex;
  }

  .products__table.with_title .products__head .products__cell {
    font-size: 18px;
    border-bottom: none;
  }

  .products__table.first .products__cell:nth-child(1) {
    width: 60%;
  }

  .products__table.second .products__cell:nth-child(2) {
    width: 80%;
  }

  .products__table.second .products__cell {
      white-space: nowrap;
  }

  .products__row_head {
    position: sticky;
    top: 0;
    background: #fff;
    z-index: 100;
  }

  body.dark .products__row_head {
    background: #242731;
  }

  .products__row_head .products__cell {
    padding-top: 24px;
    padding-bottom: 24px;
    font-size: 13px;
    line-height: 1.38462;
    font-weight: 500;
    color: #B2B3BD;
  }

  .products__cell {
    display: table-cell;
    vertical-align: middle;
    padding-right: 10px;
    padding-left: 20px;
    padding-top: 32px;
    padding-bottom: 32px;
    border-bottom: 1px solid #E4E4E4;
  }

  .products__table.first .products__cell,
  .products__table.many .products__cell {
      width: 20%;
      white-space: nowrap;
  }

  .products__table.first .products__cell {
    display: flex;
    align-items: center;
  }

  .products__cell:first-child {
    // width: 20px;
    // padding: 0;
    // font-size: 0;
  }

  .products__item {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #11142D;
  }

  .products__preview {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 72px;
    height: 72px;
    // border-radius: 8px;
    font-size: 0;
  }


  .products__pic {
    max-height: 100%;
  }

  .products__preview {
    border-radius: 15px;
  }

  .products__preview > img {
    overflow: hidden;
    border-radius: 15px;
  }

  .products__preview.new {
    background: no-repeat url('../img/add_track.svg') center/contain;
  }

  .products__details {
    padding-left: 15px;
  }

  .products__cell .products__title {
    margin-bottom: 9px;
    color: #808191;
  }
  
  
  
  
  
  
  
/*  Стили Баннера */
  .banner{
	width:972px;
	height:250px;
	background-color:#FFFFFF;
	border-radius:24px;
	display:flex;
	flex-direction:row;
	padding-left:33px;
	padding-right:33px;
}
.bannerimg{
	margin-left:60px;
	}
	
.banner-header{
	font-family: Inter;
	font-style: normal;
	font-weight: 600;
	font-size: 24px;
	line-height: 110%;
	padding-top:29px;
	max-width:193px;
	
}
.bannertext{
	width: 264px;
	font-family: Inter;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	line-height: 135%;
	padding-top:20px;
	margin-right:26px;
	
	
}
.add-track{
	align-items: center;
	
	width: 163px;
	height: 47px;
	margin-top:40px;

	background: #6C5DD3;
	border-radius: 12px;
	font-family: Inter;
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 20px;
    color: #FFFFFF;
	display:flex;
	flex-direction:row;
	margin-top:20px;
}
.img-button-addtrack{
	width:25px;
	height:25px;
	background-color:#8579DA;
	border-radius:50px;
	color:#FFFFFF;
	margin-top:4px;
	font-size:20px;
	padding-top:2px;
}

.textAddTrackDesck{
	font-family: Inter;
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 20px;
	margin-left:10px;
}


/*  Стили модального окна добавление трэка */
.anelumen {
  display: flex;
  position: fixed;
  left: 0;
  top: -100%;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  opacity: 0;
  -webkit-transition: top 0s .7s, opacity .7s 0s;
  transition: top 0s .7s, opacity .7s 0s;
}

.anelumen:target {
  top: 0;
  opacity: 1;
  -webkit-transition: none;
  transition: none;
}

.anelumen figure {
  width: 100%;
  max-width: 530px;
  position: relative;
  padding: 1.8em;
  opacity: 0;
  background-color: white;
  -webkit-transition: opacity .7s;
  transition: opacity .7s;
}

.anelumen.lowingnuska figure {
  width: 381px;
  height: 621px;
  background: #FFFFFF;
  border-radius: 32px;
  padding-top: 8px;
  border: 3px solid #aaabad;
  margin-top: -10px;
}


.anelumen:target figure {
  opacity: 1;
}

.anelumen.lowingnuska .compatibg-ukastywise {
  text-decoration: none;
  position: absolute;
  right: 8px;
  top: 0px;
  font-size: 40px;
  margin-top:12px;
  margin-right:12px;
}

.anelumen .nedismiseg {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: #7D7D7E;
  content: "";
  cursor: default;
  visibility: hidden;
  -webkit-transition: all .7s;
  transition: all .7s;
  opacity: 0.8;
}

.anelumen:target .nedismiseg {
  visibility: visible;
 } 
  .img-close{
  background-color:#DCDCDC;
  width:45px;
  height:45px;
  border-radius:50px;
  color:white;
  text-align:center;
  margin-right: -10px;
  }
	.style-input{
		width: 293px;
		height: 47px;
		margin-top:82px;
		background: #F6F6F6;
		border-radius: 7px;
		border-color:#F6F6F6;
}
	.style-button2{
		width:232px;
		height:48px;
		border-radius:12px;
		font-family: Inter;
        font-style: normal;
		background-color:#6C5DD3;
		color:#FFFFFF;
		margin-top: -10px;
		
		
	}
	.avatar-style{
		width:132px;
		height:132px;
		margin-top:16px;
	}
	.style-input2{
		height: 46.53986358642578px;
        width: 232.6992950439453px;
		background: #F6F6F6;
        border-radius: 6.64855px;
		margin-top: -10px;
		margin-bottom:20px;
		border-width: 0;
	}
	.style-input3{
		height: 46.53986358642578px;
        width: 232.6992950439453px;
		background: #F6F6F6;
        border-radius: 6.64855px;
		margin-top: -10px;
		margin-bottom:20px;
		border-width: 0;
	}
	.style-label-first{
		font-family: Inter;
		font-style: normal;
		font-weight: 500;
		font-size: 13px;
		line-height: 21px;
		color:#C1C2C9;
		text-align:left;
		margin-left:50px;
		margin-top: 30px;
        margin-left: 45px;
		border-width: 0;
	}
	.style-label2{
		margin-top:20px;
	}
	.style-input4{
		height: 46.53986358642578px;
        width: 232.6992950439453px;
		background: #F6F6F6;
        border-radius: 6.64855px;
		margin-top: -10px;
		border-width: 0;
		
	}
	.style-label{
		font-family: Inter;
		font-style: normal;
		font-weight: 500;
		font-size: 13px;
		line-height: 21px;
		color:#C1C2C9;
		text-align:left;
		margin-left:50px;
		margin-top:-30px;
	}
	input::placeholder {
	  font-family: Inter;
	  font-style: normal;
	  font-weight: 600;
	  font-size: 15.7762px;
	  line-height: 17px;
	  color:  #808191;
	  padding-left:5px;
}
/*  Стили баннера мобильная версия*/
.mbanner{
	width:311px;
	height:500px;
	background-color:#FFFFFF;
	border-radius:24px;
	
}
.mbanner-header{
	font-family: Inter;
	font-style: normal;
	font-weight: 600;
	font-size: 24px;
	line-height: 110%;
	margin-left:33px;
	margin-top:29px;
	width:193px;
	padding-top:29px;
}
.mbanner-text{
	font-family: Inter;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	line-height: 135%;
    color: #242731;
	width:252px;
	margin-left:33px;
	margin-top:20px;
	
}
.mbanner-text-button{
margin-left:4px
}
.madd-track{
	align-items: center;
	padding: 13px;

	
	width: 163px;
	height: 47px;
	

	background: #6C5DD3;
	border-radius: 12px;
	font-family: Inter;
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 20px;
    color: #FFFFFF;
	display:flex;
	flex-direction:row;
}
.mimg-button-addtrack{
	width:21px;
	height:21px;
	background-color:#8579DA;
	border-radius:50px;
	color:#FFFFFF;
	margin-left:-33px;
}
.mimg-banner{
	width:311px;
	
}
.mbannerimg{
	width: 310px;
    margin-top: -100px;
}
.add-track2{
	margin-top: 20px;
    margin-left: 33px;
}
.addTrackText3{
	font-family: Inter;
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 20px;
	margin-left:4px;
}
/*  Стили баннера планшетная версия*/
.plbanner{
	width:627px;
	height:240px;
	background-color:#FFFFFF;
	border-radius:24px;
	display:flex;
	flex-direction:row;
	padding-left:33px;
	
}
.plbannerimg{
	width:452px;
	height:250px;
	margin-left:306px;
}
.plbanner-header{
	font-family: Inter;
	font-style: normal;
	font-weight: 600;
	font-size: 24px;
	line-height: 110%;
	padding-top:29px;
}
.plbannertext{
	width:256px;
	font-family: Inter;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	line-height: 135%;
	padding-top:20px;
	}

.plimg-button-addtrack{
	width:21px;
	height:21px;
	background-color:#8579DA;
	border-radius:50px;
	color:#FFFFFF;
	margin-right:10px;
}
.plbanner{
	height:250px;
	overflow:hidden;
}
.plbanner-img{
	margin-left:-70px;
}
.plbanner-text-button{
	font-family: Inter;
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 20px;
	margin-left:10px;
}

/*  Стили контейнера списка трэков */
.container-ultrack{
	display:flex;
	display:row;
	
}
.container-ultrack-blockleft{
	background-color:#FFFFFF;
	width:374px;
	height:94px;
	display:flex;
	display:row;
	margin-left:116px;	
	border-radius:24px;
}
.container-ultrack-blockright{
	background-color:#FFFFFF;
	width:374px;
	height:94px;
	margin-left:55px;
	border-radius:24px;
	display:flex;
	display:row;
	margin-bottom:10px;
	
}
.img-addtrack{
	width:56px;
	height:56px;
	margin-left:19px;
	margin-top:26px;
}
.text1{
	font-family: Inter;
	font-style: normal;
	font-weight: 600;
	font-size: 19px;
	line-height: 23px;
	margin-left:8px;
	margin-top:35px;
	color:#808191;
	border-width:0;
}
.img-sollist{
	width:63px;
	height:63px;
	margin-left:25px;
	margin-top:16px;
}
.text2{
	font-family: Inter;
	font-style: normal;
	font-weight: 600;
	font-size: 19px;
	line-height: 23px;
	color: #808191;
	margin-left:6px;
	margin-top:26px;
}
.text3{
	font-family: Inter;
	font-style: normal;
	font-weight: 600;
	font-size: 13px;
	line-height: 18px;
    color: #808191;
	margin-left:6px;
	margin-top:3px;
}
.container-ulmobile{
	margin-left:0px;
	max-width:311px;
	height:94px;
}
.text32{
	margin-left:-30px;
	color:#808191;
}
